# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Optional: JetBrains IDEs
.idea/

# Optional: local npm package
package-lock.json
yarn.lock